body {
    /* height: 100%; */

    display: grid;
    grid-template-rows: 20% 25% 30% 25%;
}

header {
    margin: 0px 250px;
    display: grid;
    grid-template-rows: auto;
    background-color: aqua;
    border: 2px solid black;
}

header div {
    display: grid;
    /* grid-template-rows: 50% 50%; */
    background-color: rgb(134, 249, 195);
    border: 2px solid black;
}

.header-ul1 {
    display: grid;
    grid-template-columns: 60% 15% 5% 20%;
    background-color: rgb(214, 214, 255);
}
.header-ul2 {
    display: grid;
    grid-template-columns: 20% 30% 10% 10% 10% 10% 10%;
    background-color: rgb(214, 214, 255);
}

.header-ul1 li,
.header-ul2 li {
    border: 2px solid black;
}

main {
    height: 200vh;
    display: grid;
    grid-template-rows: 15% 20% 1fr;
}

.main-div1 {
    margin: 0px 250px;
    background-color: blueviolet;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 50% 25% 25%;
}

.main-div1 div {
    border: 2px solid black;
}

.main-div2 {
    margin: 0px 250px;
    background-color: rgb(226, 175, 66);
    border: 2px solid black;
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15% 10%;
}

.main-div2 div {
    border: 2px solid black;
}

.main-div3 {
    margin: 0px 250px;
    background-color: rgb(37, 48, 255);
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.main-div3 div {
    border: 2px solid black;
}
